body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.flex_container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 1em;
}

.event-subcontainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em;
  margin: 1em;
}

.event-name{
  text-align: center;
  margin-bottom: 1em;
}
.error-warning{
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
}
.column{
  width: 50%;
  margin: 1em;
}
a {
  color: black;
  font-weight: bold;
}
/* .ReactTable .rt-thead .rt-resizable-header{
  overflow: hidden;
} */

.ReactTable .rt-thead [role="columnheader"] {
outline: 0;
}
