/* .react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
} */

.react-tabs__tab-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
  border: 0px;
  background-color: whitesmoke;
  font-weight: bold;
}
/* .react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
} */
.react-tabs__tab {
  /* display: inline-block; */
  /* border: 2px solid grey; */
  list-style: none;
  padding: 0.7em;
  width: 30%;
  cursor: pointer;
  text-align: center;
}

.react-tabs__tab--selected {
  background: #fff;
/*  border-color: orange;
  color: black; */
}

.react-tabs__tab:focus {
  /* box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%); */
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
