.react-tabs__tab {
  list-style: none;
  padding: 0.7em;
  width: 30%;
  cursor: pointer;
  text-align: center;
}

.react-tabs__tab--selected {
  background: #fff;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  background-color: white;
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
